
.cardOfProduct{
    display: flex;
    background-color: #f9f9fa;
    margin: 8px;
}
.cartInformation{
    background-color: #f9f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
    padding: 30px;
}

.eachProductCart{
    background-color: #f9f9fa;
}

.infoProduct{
    background-color: #f9f9fa;
    padding: 5px;
}
.infoProductImg{
    padding:20px;
    background-color: #f9f9fa;
}
.buttonRemove{
    background-color: #212529;
    gap: 1.25rem;    
    color: #f8f9fa;
    padding: 10px;
    border-radius: 0.625rem;
    font-size: 14px;
    width: 12.5em;
}

@media only screen and (max-width: 520px) {
    .infoProductImg{
        width: 100%;
    }
    .infoProduct{
        font-size: 15px;
        width: 100%;
    }
    .cartInformation{
        padding: 10px;
    }
}
