footer{
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1.875rem;
    padding-top: 1.25rem;
    background-color: #212529;
    height: auto;
}
.socialmedia{
    display: flex;
    gap: 3.438rem;
}
.lastName{
    color: red;
}
.title, .contact, .social{
    color: orange;
    padding-top: 0.313rem;
    padding-bottom: 0.938rem;
}

.mark, .number{
    padding-bottom:1.25rem;
}

.owner{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.owner a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 915px) {
    footer{
        height: 100%;
        display: flex;
        padding: 0;
    }
    .title, .contact, .social{
        color: orange;
        font-size: 10px;
        padding: 5px;
    }
    .mark, .number{
        font-size: 8px;
        padding: 5px;
    }
    .socialLogo1, .socialLogo2{
        width: 25px;
        height: 25px;
        padding: 5px;
    }
    .owner{
        font-size: 12px;
        padding: 10px;
    }


}