footer{
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1.875rem;
    padding-top: 1.25rem;
    background-color: #212529;
}
.socialmedia{
    display: flex;
    gap: 3.438rem;
}
.lastName{
    color: red;
}
.title, .contact, .social{
    color: orange;
    padding-top: 0.313rem;
    padding-bottom: 0.938rem;
}

.mark, .number{
    padding-bottom:1.25rem;
}

.owner{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.owner a{
    text-decoration: none;
    color: white;
}
