@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
    

*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

/* The evren high moto */
header{
    background-color: #fda95b;
    height: 100px;
    display: flex;
}
/* The evren high image */
.moto{
    height: 80px;
    padding-top: 15px;
    padding-left: 320px;
    background-color: #fda95b;
}

/* The also so called banner - astronaut image */
article{
    position: relative;
    width: 100%;
}

article img{
    width: 100%;
}
/* Buttons over the image 1male 2female*/
article .button1{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.815);
    opacity: 90%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 4px solid white;
    cursor: pointer;
    border-radius: 12px;

}
article .button2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000ce;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 4px solid white;
    cursor: pointer;
    border-radius: 12px;
    width: 128px;
}

