@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
    

*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

/* The evren high moto */
header{
    background-color: #fda95b;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* The evren high image */
.moto{
    height: 5rem;
    background-color: #fda95b;

}

/* The also so called banner - astronaut image */
article{
    position: relative;
    width: 100%;
}

article img{
    width: 100%;
}
/* Buttons over the image 1male 2female*/
article .button1{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.815);
    opacity: 90%;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: 4px solid white;
    cursor: pointer;
    border-radius: 0.75rem;

}
article .button2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000ce;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: 0.25rem solid white;
    cursor: pointer;
    border-radius: 0.75rem;
    width: 8rem;
}

