
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); 

*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

/* The evren high moto */
.header{
    background-color: #fda95b;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
/* The evren high image */
.moto{
    height: 5rem;
    width: 100%;
    background-color: #fda95b;

}

/* The also so called banner - astronaut image */
article{
    position: relative;
    width: 100%;
}

article img{
    width: 100%;
}
/* Buttons over the image 1male 2female*/
article .button1{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.815);
    opacity: 90%;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: 4px solid white;
    cursor: pointer;
    border-radius: 0.75rem;

}
article .button2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000ce;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: 0.25rem solid white;
    cursor: pointer;
    border-radius: 0.75rem;
    width: 8rem;
}

@media only screen and (max-width: 915px) {
    article .button1{
        top: 65%;
        width: 7rem;
        font-size: 0.8rem;
    }
    article .button2{
        top: 80%;
        width: 7rem;
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 701px) {
    .header{
        height: 80px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
        
    }
    .moto{
        height: auto;
        background-color: #fda95b;
    
    }
    article .button1{
        top: 60%;
        width: 7rem;
        font-size: 0.8rem;
    }
    article .button2{
        top: 80%;
        width: 7rem;
        font-size: 0.8rem;
    }

}
@media only screen and (max-width: 575px) {
    article .button1{
        top: 60%;
        width: 5.5rem;
        font-size: 0.5rem;
        height: auto;
    }
    article .button2{
        top: 80%;
        width: 5.5rem;
        font-size: 0.5rem;
        height: auto;
    }

}

@media only screen and (max-width: 451px) {
    article .button1{
        top: 60%;
        width: 4rem;
        font-size: 0.4rem;
        height: auto;
        padding: 8px 0;
    }
    article .button2{
        top: 80%;
        width: 4rem;
        font-size: 0.4rem;
        height: auto;
        padding: 8px 0;
    }
}.header{
    background-color: #fda95b;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
