@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
    

*{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
/* Navigation bar with logo, categorires and cart */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 5px solid #EB7D46;
}
/* List; male, female */
.list{
    list-style: none;
    color: white;
    display: flex;
    font-size: 20px;
    gap: 50px;
    font-weight: 1000;
    padding-left: 700px;
}
.list:hoover{
    color: orange;
    transition: 0.4s;
}
/* The logo in the nav bar */
.logo{
    width: 120px;
    height: 120px;
    padding-left: 20px;
}
/* Cart symbol in nav bar */
.cart{
    width: 42px;
    height: 42px;
    padding-right: 60px;
    padding-left: 15px;
    border-left: 2px solid white;
}
/* The evren high moto */
header{
    background-color: #fda95b;
    height: 100px;
    display: flex;
}
/* The evren high image */
.moto{
    height: 80px;
    padding-top: 15px;
    padding-left: 320px;
    background-color: #fda95b;
}

/* The also so called banner - astronaut image */
article{
    position: relative;
    width: 100%;
}

article img{
    width: 100%;
}
/* Buttons over the image 1male 2female*/
article .button1{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.815);
    opacity: 90%;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 4px solid white;
    cursor: pointer;
    border-radius: 12px;

}
article .button2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000ce;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 4px solid white;
    cursor: pointer;
    border-radius: 12px;
    width: 128px;
}

footer{
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}
.socialmedia{
    display: flex;
    gap: 55px
}
.lastName{
    color: red;
}
.title, .contact, .social{
    color: orange;
    padding-top: 5px;
    padding-bottom: 15px;
}

.mark, .number{
    padding-bottom:20px;
}

.owner{
    padding-top: 30px;
    padding-bottom: 30px;
}
