.stylesWomen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f8f9fa;
    flex: 2;
    margin: 0;
    min-width: 280px;
    height: 520px;
    padding-left: 35px;
}

.onlyWomen img{
    height: 70%;
}
.infoProduct{
    color: black;
    background-color: #f8f9fa;


}
.titleHeader h1{
        color: black;
        display: flex;
        justify-content: center;
        font-size: 50px;
        background-color: #f8f9fa;
        padding: 50px 0px ;
}