.titleHeader h1{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 3.125rem;
    background-color: #f8f9fa;
    padding: 3.125rem 0rem ;
}
.stylesMen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f8f9fa;
}

.stylesMen a{
    text-decoration: none;
}