.eachMen{
    background-color: #f8f9fa;
    flex: 2;
    margin: 0;
    min-width: 17.5rem;
    height: 32.5rem;
    padding-left: 2.188rem;
}

.eachMen img{
    height: 70%;
}
.infoProduct{
    color: black;
    background-color: #f8f9fa;
}
