nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 5px solid #EB7D46;
}
/* List; male, female */
.list{
    list-style: none;
    color: white;
    display: flex;
    font-size: 20px;
    gap: 50px;
    font-weight: 1000;
    padding-left: 700px;
}
.list:hoover{
    color: orange;
    transition: 0.4s;
}
/* The logo in the nav bar */
.logo{
    width: 120px;
    height: 120px;
    padding-left: 20px;
}
/* Cart symbol in nav bar */
.cart{
    width: 42px;
    height: 42px;
    padding-right: 60px;
    padding-left: 15px;
    border-left: 2px solid white;
}