
.eachProduct{
    padding: 50px;
    display: flex;
    background-color: #f8f9fa;
}

.infoProductBox{
    background-color: #f8f9fa;
    padding-left: 50px;
   
}
.productImg{
    width: 450px;
}
.productText{
    padding-top: 15px;
    background-color: #f8f9fa;
    font-size: 35px;
    line-height: 60px;
}

.buttonAdd{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    padding: 50px 0px 100px 0px;

}

.buttonOneProduct{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.buttonOneProduct:hover{
    background-color: #EB7D46;
    color: black;
    transition: 1s;
}