.allProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f8f9fa;
}
.allProducts a{
    text-decoration: none;
}

.infoCatalog h1{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: #f8f9fa;
    padding: 50px 0px ;
}


